In [6]:
# python example
# author: Gannon Ellert

import pandas as pd
import numpy as np

filepath = 'data_test_1.xlsx'
people_data = pd.read_excel(filepath, sheet_name='people_data')

#   ======  Continue with your code  =========

revenue_data = pd.read_excel(filepath, sheet_name='revenue_data')

# I used Jupyter notebooks to work on and test this code. Below are the steps I took:



# Getting familiar with the data:

print("people data: ", people_data.shape)
print("revenue data: ", revenue_data.shape)

# people_data.dtypes
# people_data.isnull().sum()
# people_data.nunique()
# people_data.sample(10)

# revenue_data.dtypes
# revenue_data.sample(10) 
# revenue_data.isnull().sum()
# revenue_data.nunique()

print()


# Merge and review Revenue and People data frames:

df = revenue_data.merge(people_data, on='employee_id', how='left')
print("merge shape: ", df.shape)
print("min date: ", df['customer_close_date'].min())
print("max date: ", df['customer_close_date'].max())
print()
# df.nunique()



# Create column to specify month of sale:

df['month'] = pd.DatetimeIndex(df['customer_close_date']).month
print("new shape with month: ", df.shape)
print()
print("sample:")
print(df.sample(5))
print()
print()



# Omit Eliana Bernard and subsequent data:

df = df[df.manager_name != "Eliana Bernard"]
print("data without Eliana Bernard: ", df.shape)
print()
# df.nunique()



# Pivot dataframe:

df_pivot = pd.pivot_table(data=df, index='team', columns='month', values='revenue_amount', aggfunc='sum')
print("pivoted data frame:")
print(df_pivot)
print()



# Flatten pivot table into new dataframe:

df_flattened = pd.DataFrame(df_pivot.to_records())



# Replace "NaN" values with 0, add an addition column for total_revenue:

df_flattened = df_flattened.fillna(0)
df_flattened['total_revenue'] = df_flattened["1"] + df_flattened["2"] + df_flattened["3"]


# Rename columns:

df_flattened = df_flattened.rename(columns = {"1": "JAN",
                                             "2": "FEB",
                                             "3": "MAR"})


# Final product:
print()
print("fnal table:")
print(df_flattened)



# Write final dataframe to CSV file:

df_flattened.to_csv('twilio_final.csv', index=False)

people data:  (604, 5)
revenue data:  (5082, 4)

merge shape:  (5158, 8)
min date:  2020-01-01 00:00:00
max date:  2020-03-31 00:00:00

new shape with month:  (5158, 9)

sample:
             customer_id customer_close_date  employee_id  revenue_amount  \
1939  0061W00001I90rmQAB          2020-03-15       170304         8712.75
3322  0061W00001LGGloQAF          2020-03-01       180796         8437.46
3304  0061W0000151Id1QAE          2020-02-24       180322         8559.08
2918  0061W000010iOZ5QAM          2020-03-30       180778         1961.67
982   0061W000013VhkqQAA          2020-03-14       170159         2583.55

         employee_name                         team  manager_id  \
1939       Kunal Scott     Sales Engineering - West      170112
3322   Roderick Hoenig     Sales Engineering - West      100133
3304      Sean Schwaba     Customer Accounts - West      101034
2918     Kathryn Smith               Wireless - GTM      101252
982   Damoon Rosenboom  Mid Market Accounts­ - West      180583

         manager_name  month
1939  Daniel Calloway      3
3322  Matthew Quigley      3
3304    Lisa O'Rourke      2
2918       Ross Bacak      3
982   Andreas Quigley      3


data without Eliana Bernard:  (5030, 9)

pivoted data frame:
month                                    1          2          3
team
Account Security Sales           217104.35  198630.20  131660.04
Alliances                        496679.36  578540.50  575733.30
Business Development - EMEA       76308.83   37968.38  116856.11
Business Development - US        917251.59  837128.89  850337.64
CC Specialists - EMEA             75354.35   91291.06  136308.63
CC Specialists - NAMER           112162.69  111449.46  111394.65
Commercial Sales - APAC           83352.91   58574.96  111815.38
Commercial Sales - EMEA          384870.19  361339.45  434345.74
Commercial Sales - East          186900.52  205876.15  162079.78
Commercial Sales - West          229835.86  172473.22  261351.22
Customer Accounts - EMEA         113317.10   74317.98  121534.94
Customer Accounts - East         217128.60  103402.84  186427.15
Customer Accounts - LATAM         15225.28        NaN    5185.07
Customer Accounts - West         200913.60  190862.29  237821.66
Enterprise Accounts - APAC       167879.06  218402.32  162182.81
Enterprise Accounts - EMEA       288992.45  380702.32  297235.56
Enterprise Accounts - East       340039.78  284789.71  225065.18
Enterprise Accounts - LATAM      112582.04  150707.39  132938.50
Enterprise Accounts - West       822458.70  920690.25  948152.99
Expert Services                   41255.97   17865.99   39329.73
Mgmt & Support - EMEA              2409.31        NaN   10967.60
Mgmt & Support - Mid Market Acc   26258.39   21621.29   32135.91
Mid Market Accounts -­ APAC      158954.23  109035.23  123279.89
Mid Market Accounts­ - West      259766.33  356993.61  346061.63
Sales Development - APAC           4089.51        NaN    3804.28
Sales Engineering - APAC          59793.55   50650.85   43385.61
Sales Engineering - EMEA         129170.77  123858.07  152339.53
Sales Engineering - East         802696.83  632552.56  659274.15
Sales Engineering - West         624488.49  574818.40  677408.04
Strategic Accounts - EMEA          5359.08    8665.11    2603.65
Strategic Accounts - West         81064.96   21311.28   37961.35
Twilio.org                       100403.41   42492.78   83813.21
Wireless - GTM                   429337.26  354595.86  401469.53


fnal table:
                               team        JAN        FEB        MAR  \
0            Account Security Sales  217104.35  198630.20  131660.04
1                         Alliances  496679.36  578540.50  575733.30
2       Business Development - EMEA   76308.83   37968.38  116856.11
3         Business Development - US  917251.59  837128.89  850337.64
4             CC Specialists - EMEA   75354.35   91291.06  136308.63
5            CC Specialists - NAMER  112162.69  111449.46  111394.65
6           Commercial Sales - APAC   83352.91   58574.96  111815.38
7           Commercial Sales - EMEA  384870.19  361339.45  434345.74
8           Commercial Sales - East  186900.52  205876.15  162079.78
9           Commercial Sales - West  229835.86  172473.22  261351.22
10         Customer Accounts - EMEA  113317.10   74317.98  121534.94
11         Customer Accounts - East  217128.60  103402.84  186427.15
12        Customer Accounts - LATAM   15225.28       0.00    5185.07
13         Customer Accounts - West  200913.60  190862.29  237821.66
14       Enterprise Accounts - APAC  167879.06  218402.32  162182.81
15       Enterprise Accounts - EMEA  288992.45  380702.32  297235.56
16       Enterprise Accounts - East  340039.78  284789.71  225065.18
17      Enterprise Accounts - LATAM  112582.04  150707.39  132938.50
18       Enterprise Accounts - West  822458.70  920690.25  948152.99
19                  Expert Services   41255.97   17865.99   39329.73
20            Mgmt & Support - EMEA    2409.31       0.00   10967.60
21  Mgmt & Support - Mid Market Acc   26258.39   21621.29   32135.91
22      Mid Market Accounts -­ APAC  158954.23  109035.23  123279.89
23      Mid Market Accounts­ - West  259766.33  356993.61  346061.63
24         Sales Development - APAC    4089.51       0.00    3804.28
25         Sales Engineering - APAC   59793.55   50650.85   43385.61
26         Sales Engineering - EMEA  129170.77  123858.07  152339.53
27         Sales Engineering - East  802696.83  632552.56  659274.15
28         Sales Engineering - West  624488.49  574818.40  677408.04
29        Strategic Accounts - EMEA    5359.08    8665.11    2603.65
30        Strategic Accounts - West   81064.96   21311.28   37961.35
31                       Twilio.org  100403.41   42492.78   83813.21
32                   Wireless - GTM  429337.26  354595.86  401469.53

    total_revenue
0       547394.59
1      1650953.16
2       231133.32
3      2604718.12
4       302954.04
5       335006.80
6       253743.25
7      1180555.38
8       554856.45
9       663660.30
10      309170.02
11      506958.59
12       20410.35
13      629597.55
14      548464.19
15      966930.33
16      849894.67
17      396227.93
18     2691301.94
19       98451.69
20       13376.91
21       80015.59
22      391269.35
23      962821.57
24        7893.79
25      153830.01
26      405368.37
27     2094523.54
28     1876714.93
29       16627.84
30      140337.59
31      226709.40
32     1185402.65

In [7]:
# python example
# author: Gannon Ellert

import pandas as pd
import numpy as np

filepath = 'data_test_1.xlsx'
people_data = pd.read_excel(filepath, sheet_name='people_data')

#   ======  Continue with your code  =========

revenue_data = pd.read_excel(filepath, sheet_name='revenue_data')



# I used Jupyter notebooks to work on and test this code. 
# This code was written to be copied and pasted directly into a python program, should you choose to view it that way (so long as the file path and name remain the same) 
# Below are the steps I took to complete this assignment (commented code was just for my referrence)
# A new sheet was created with the final result as well. Find it under "FINAL_pivot_table_by_month"



# Getting familiar with the data:

print("people data: ", people_data.shape)
print("revenue data: ", revenue_data.shape)

# people_data.dtypes
# people_data.isnull().sum()
# people_data.nunique()
# people_data.sample(10)

# revenue_data.dtypes
# revenue_data.sample(10) 
# revenue_data.isnull().sum()
# revenue_data.nunique()

print()


# Merge and review Revenue and People data frames:

df = revenue_data.merge(people_data, on='employee_id', how='left')
print("merge shape: ", df.shape)
print("min date: ", df['customer_close_date'].min())
print("max date: ", df['customer_close_date'].max())
print()
# df.nunique()



# Create column to specify month of sale:

df['month'] = pd.DatetimeIndex(df['customer_close_date']).month
print("new shape with month: ", df.shape)
print()
print("sample:")
print(df.sample(5))
print()
print()



# Omit Eliana Bernard and subsequent data:

df = df[df.manager_name != "Eliana Bernard"]
print("data without Eliana Bernard: ", df.shape)
print()
# df.nunique()



# Pivot dataframe:

df_pivot = pd.pivot_table(data=df, index='team', columns='month', values='revenue_amount', aggfunc='sum')
print("pivoted data frame:")
print(df_pivot)
print()



# Flatten pivot table into new dataframe:

df_flattened = pd.DataFrame(df_pivot.to_records())



# Replace "NaN" values with 0, add an addition column for total_revenue:

df_flattened = df_flattened.fillna(0)
df_flattened['total_revenue'] = df_flattened["1"] + df_flattened["2"] + df_flattened["3"]


# Rename columns:

df_flattened = df_flattened.rename(columns = {"1": "JAN",
                                             "2": "FEB",
                                             "3": "MAR"})


# Final product:
print()
print("fnal table:")
print(df_flattened)



# Write final dataframe to CSV file:

#df_flattened.to_csv('twilio_final.csv', index=False)

people data:  (604, 5)
revenue data:  (5082, 4)

merge shape:  (5158, 8)
min date:  2020-01-01 00:00:00
max date:  2020-03-31 00:00:00

new shape with month:  (5158, 9)

sample:
             customer_id customer_close_date  employee_id  revenue_amount  \
409   0061W00001KIsuwQAC          2020-01-25       100877         8595.47
2487  0061W00001JZ9msQAA          2020-03-18       180364         1210.66
2824  0061W000014fR1PQAX          2020-01-19       180364         8663.09
937   0061W00001GZCYFQA3          2020-03-25       170241          200.27
3109  0061W00001K6eyVQAQ          2020-01-26       180931         8417.31

         employee_name                        team  manager_id  \
409   Futoshi Lombardi  Enterprise Accounts - West      100687
2487    Robert Stevens     Commercial Sales - EMEA      170145
2824    Robert Stevens     Commercial Sales - EMEA      170145
937     Jimmy Merchant    Customer Accounts - EMEA      101307
3109   John-Paul Scott   Business Development - US      101034

        manager_name  month
409   Eliana Bernard      1
2487  Charlie Oukili      3
2824  Charlie Oukili      1
937   Edouard Sharpe      3
3109   Lisa O'Rourke      1


data without Eliana Bernard:  (5030, 9)

pivoted data frame:
month                                    1          2          3
team
Account Security Sales           217104.35  198630.20  131660.04
Alliances                        496679.36  578540.50  575733.30
Business Development - EMEA       76308.83   37968.38  116856.11
Business Development - US        917251.59  837128.89  850337.64
CC Specialists - EMEA             75354.35   91291.06  136308.63
CC Specialists - NAMER           112162.69  111449.46  111394.65
Commercial Sales - APAC           83352.91   58574.96  111815.38
Commercial Sales - EMEA          384870.19  361339.45  434345.74
Commercial Sales - East          186900.52  205876.15  162079.78
Commercial Sales - West          229835.86  172473.22  261351.22
Customer Accounts - EMEA         113317.10   74317.98  121534.94
Customer Accounts - East         217128.60  103402.84  186427.15
Customer Accounts - LATAM         15225.28        NaN    5185.07
Customer Accounts - West         200913.60  190862.29  237821.66
Enterprise Accounts - APAC       167879.06  218402.32  162182.81
Enterprise Accounts - EMEA       288992.45  380702.32  297235.56
Enterprise Accounts - East       340039.78  284789.71  225065.18
Enterprise Accounts - LATAM      112582.04  150707.39  132938.50
Enterprise Accounts - West       822458.70  920690.25  948152.99
Expert Services                   41255.97   17865.99   39329.73
Mgmt & Support - EMEA              2409.31        NaN   10967.60
Mgmt & Support - Mid Market Acc   26258.39   21621.29   32135.91
Mid Market Accounts -­ APAC      158954.23  109035.23  123279.89
Mid Market Accounts­ - West      259766.33  356993.61  346061.63
Sales Development - APAC           4089.51        NaN    3804.28
Sales Engineering - APAC          59793.55   50650.85   43385.61
Sales Engineering - EMEA         129170.77  123858.07  152339.53
Sales Engineering - East         802696.83  632552.56  659274.15
Sales Engineering - West         624488.49  574818.40  677408.04
Strategic Accounts - EMEA          5359.08    8665.11    2603.65
Strategic Accounts - West         81064.96   21311.28   37961.35
Twilio.org                       100403.41   42492.78   83813.21
Wireless - GTM                   429337.26  354595.86  401469.53


fnal table:
                               team        JAN        FEB        MAR  \
0            Account Security Sales  217104.35  198630.20  131660.04
1                         Alliances  496679.36  578540.50  575733.30
2       Business Development - EMEA   76308.83   37968.38  116856.11
3         Business Development - US  917251.59  837128.89  850337.64
4             CC Specialists - EMEA   75354.35   91291.06  136308.63
5            CC Specialists - NAMER  112162.69  111449.46  111394.65
6           Commercial Sales - APAC   83352.91   58574.96  111815.38
7           Commercial Sales - EMEA  384870.19  361339.45  434345.74
8           Commercial Sales - East  186900.52  205876.15  162079.78
9           Commercial Sales - West  229835.86  172473.22  261351.22
10         Customer Accounts - EMEA  113317.10   74317.98  121534.94
11         Customer Accounts - East  217128.60  103402.84  186427.15
12        Customer Accounts - LATAM   15225.28       0.00    5185.07
13         Customer Accounts - West  200913.60  190862.29  237821.66
14       Enterprise Accounts - APAC  167879.06  218402.32  162182.81
15       Enterprise Accounts - EMEA  288992.45  380702.32  297235.56
16       Enterprise Accounts - East  340039.78  284789.71  225065.18
17      Enterprise Accounts - LATAM  112582.04  150707.39  132938.50
18       Enterprise Accounts - West  822458.70  920690.25  948152.99
19                  Expert Services   41255.97   17865.99   39329.73
20            Mgmt & Support - EMEA    2409.31       0.00   10967.60
21  Mgmt & Support - Mid Market Acc   26258.39   21621.29   32135.91
22      Mid Market Accounts -­ APAC  158954.23  109035.23  123279.89
23      Mid Market Accounts­ - West  259766.33  356993.61  346061.63
24         Sales Development - APAC    4089.51       0.00    3804.28
25         Sales Engineering - APAC   59793.55   50650.85   43385.61
26         Sales Engineering - EMEA  129170.77  123858.07  152339.53
27         Sales Engineering - East  802696.83  632552.56  659274.15
28         Sales Engineering - West  624488.49  574818.40  677408.04
29        Strategic Accounts - EMEA    5359.08    8665.11    2603.65
30        Strategic Accounts - West   81064.96   21311.28   37961.35
31                       Twilio.org  100403.41   42492.78   83813.21
32                   Wireless - GTM  429337.26  354595.86  401469.53

    total_revenue
0       547394.59
1      1650953.16
2       231133.32
3      2604718.12
4       302954.04
5       335006.80
6       253743.25
7      1180555.38
8       554856.45
9       663660.30
10      309170.02
11      506958.59
12       20410.35
13      629597.55
14      548464.19
15      966930.33
16      849894.67
17      396227.93
18     2691301.94
19       98451.69
20       13376.91
21       80015.59
22      391269.35
23      962821.57
24        7893.79
25      153830.01
26      405368.37
27     2094523.54
28     1876714.93
29       16627.84
30      140337.59
31      226709.40
32     1185402.65